#showcase_wrapper
	#showcase
		script(src='/flex/AC_OETags.js')
		script(src='/flex/flashplayer.js')
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="WebcamObject" width="100%" height="100%"	codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab"><param name="movie" value="Webcam.swf" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="allowScriptAccess" value="sameDomain" /><embed height='100%' quality="high" align='middle' width='100%' type='application/x-shockwave-flash' pluginspage='http://www.adobe.com/go/getflashplayer' allowfullscreen='true' allowscriptaccess='sameDomain' name='Webcam' wmode="transparent" quality='high' id='Webcam' src='/flex/Webcam.swf'></object>
	#da_container
		script(src='/js/esnesda.js')