#home
	#showcase_home
		script(src='/flex/AC_OETags.js')
		<embed height="100%" align="middle" width="100%" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" allowfullscreen="true" allowscriptaccess="sameDomain" name="Webcam" bgcolor="#ffffff" quality="high" id="Webcam" src="/flex/Webcam.swf">
	#home_nav_shadow