#showcase_wrapper
	#showcase
		script(src='/flex/flashplayer.js', language="JavaScript", type="text/javascript")
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="WebcamObject" width="980px" height="480px"	codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab"><param name="movie" value="Webcam.swf" /><param name="bgcolor" value="#ffffff" /><param name="quality" value="high" /><param name="wmode" value="opaque" /><param name="allowScriptAccess" value="always" /><embed height='480px' quality="high" align='middle' width='980px' type='application/x-shockwave-flash' pluginspage='http://www.adobe.com/go/getflashplayer' allowfullscreen='true' allowscriptaccess='always' name='Webcam' wmode="opaque" bgcolor="#ffffff" quality='high' id='Webcam' src='/flex/Webcam.swf'></embed></object>
	#da_container
		script(src='/js/esnesda.js')