/*******************/
/*   Site basics   */
/*******************/

*{
	border-width: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	outline: 0;
}

body {
	background-color: #000;
}

/********************/
/*   text styles   */
/********************/

a {
	color: #363653;
}

a.mail {
	font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a.footer {
	font: 13px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: silver;
}

a.read_more {
	background-image: url(../images/b_more.png);
	width: 150px;
	height: 30px;
	display: block;
	float: right;
	text-align: center;
	color: white;
	font: 13px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1 {
	font: 25px/60px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 60px;
	background: url(../images/h1_shadow.jpg) no-repeat 0 bottom;
	width: 525px;
	position: absolute;
	padding-left: 25px;
	display: inline-block;
}

h2 { font: 60px 'Cabin Sketch', arial, serif; color: #EFEFEF;}
ul#leaders li { font: 40px 'Architects Daughter', serif;color: #EFEFEF; }

h2.blog {
	float: left;
	font: 18px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	width: 255px;
}

h3 a {
	text-decoration: none;
	font: 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	float: left;
	display: inline-block;
	color: #363636;
}

h4 {
	color: white;
	font: 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 15px;
}

h5 {
	font: 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-top: 70px;
	margin-bottom: 10px;
}

h6 {
	font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h6 a {
	text-decoration: none;
}

p, label {
	font: 13px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: justify;
	color: #363636;
}

p.small {
	font-size: 10px;
	margin-bottom: 10px;
	clear: left;
}

p.serv_page {
	height: 361px;
	padding-right: 30px;
	overflow: auto;
	width: 326px;
	float: left;
}

p.footer {
	color: silver;
	font-size: 13px;
}

a.a_back {
	color: #363636;
	font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: inline-block;
	height: 30px;
	width: 101px;
	position: absolute;
	z-index: 6;
	margin-left: 240px;
	margin-top: 25px;
}

/***********************/
/*   Content WRAPPER   */
/***********************/

#content_wrapper {
	width: 960px;
	margin: auto;
}

/******************/
/*   Navigation   */
/******************/

#header_wrap {
	padding-left: 430px;
	width: 530px;
	height: 50px;
	position: absolute;
	z-index: 10;
}

#header_wrap li {
	display: inline;
	
}

#header_wrap li a {
	margin-top: 2px;
	width: 94px;
	float: left;
	padding-top: 49px;
	height: 0;
	overflow: hidden;
	margin-right: 10px;
}

/************/
/*   Logo   */
/************/

div#logo {
	width: 960px;
	z-index: 9;
	margin-top: 10px;
	padding-top: 6px;
	background-repeat: no-repeat;
	position: absolute;
	font: 80px 'Cabin Sketch', serif;
	color: #772A08;
}

/********************************/
/*   Site basics layoutframes   */
/********************************/

div#col_1 {
	height: 450px;
	width: 610px;
	float: left;
	position: absolute;
	z-index: 0;
}

div#col_2 {
	height: 450px;
	width: 350px;
	float: left;
	position: absolute;
	margin-left: 610px;
	z-index: 0;
}

div.col_3 {
	height: 450px;
	width: 550px;
	display: inline-block;
	position: absolute;
	z-index: 3;
}

div.col_4 {
	height: 450px;
	width: 360px;
	padding-left: 25px;
	display: inline-block;
	margin-left: 550px;
}

div.col_5 {
	width: 610px;
	position: absolute;
	height: 450px;
	z-index: 1;
	display: inline-block;
	float: left;
}

div.col_6 {
	height: 450px;
	width: 350px;
	float: left;
	position: absolute;
	display: inline-block;
	margin-left: 610px;
	z-index: 1;
}

/***************************/
/*   Site basics sidebar   */
/***************************/

div#wrapper_sidebar {
	height: 310px;
	width: 280px;
	display: block;
	overflow: visible;
	float: left;
	margin-left: 30px;
	margin-top: 70px;
	position: absolute;
	z-index: 1;
}

button.next2 {
	width: 284px;
	height: 37px;
	background: url(../images/ver_prev.png) no-repeat;
	margin-top: -2px;
	margin-left: 637px;
	position: absolute;
	z-index: 3;
	cursor: pointer;
	display: inline-block;
}

button.prev2 {
	width: 284px;
	height: 40px;
	background: url(../images/ver_next.png) no-repeat;
	margin-left: 637px;
	position: absolute;
	z-index: 3;
	cursor: pointer;
	margin-top: 412px;
	display: inline-block;
}

#wrapper_sidebar ul {
	float: left;
	margin-left: 32px;
	margin-top: 70px;
}

#wrapper_sidebar ul li {
	background-image: url(../images/BG_sidebar_img.png);
	width: 270px;
	height: 300px;
	padding: 5px;
}

/************/
/*   Home   */
/************/

div#home {
	float: left;
	display: inline-block;
	width: 1000px;
	height: 600px;
	margin-top: 105px;
	position: absolute;
	z-index: 0;
}

div#showcase_home {
	background-image: url(../images/BG_home_showcase.png);
	height: 525px;
	float: left;
	width: 910px;
	padding: 25px;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

#myController {
	width: 960px;
	height: 75px;
	position: absolute;
	margin-top: 375px;
}

span.prev {
	width: 53px;
	height: 76px;
	position: absolute;
	margin-left: -40px;
	margin-top: 140px;
	cursor: pointer;
	display: inline-block;
	z-index: 6;
}

span.next {
	width: 53px;
	height: 76px;
	position: absolute;
	margin-left: 942px;
	margin-top: 140px;
	cursor: pointer;
	z-index: 6;
	display: inline-block;
}

/***********************/
/*   Showcase - home   */
/***********************/

.wrapper_home {
	float: left;
	width: 910px;
	height: 325px;
}

div.home_img {
	position: absolute;
}

h6.T_showcase_home {
	height: 60px;
	line-height: 60px;
	padding-left: 15px;
	padding-right: 15px;
	width: 870px;
	background: url(../images/BG_T_home_showcase.png) repeat-x;
	position: absolute;
	margin-top: 260px;
	margin-left: 5px;
	z-index: 5;
}

div#home_nav_shadow {
	width: 960px;
	height: 6px;
	position: absolute;
	z-index: 5;
	margin-top: 575px;
	float: left;
	background: url(../images/home_nav_shadow.png) no-repeat 0 0;
}

div.jFlowSlideContainer {
	width: 910px;
	height: 385px;
}

div#wrapper_home_nav {
	height: 75px;
	float: left;
	width: 960px;
}

div.home_img img {
	position: absolute;
	z-index: 4;
	padding: 5px;
	background-image: url(../images/BG_home_showcase_li.png);
}

div#mySlides {
	float: left;
	display: block;
	overflow: hidden;
}

/*Showcase nav menu*/
span.jFlowControl {
	width: 182px;
	float: left;
	display: inline-block;
	height: 55px;
	cursor: pointer;
	background: url(../images/home_nav_showcase.jpg) left top;
	padding-left: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #363636;
	padding-top: 20px;
}

span.jFlowControl.jFlowSelected {
	width: 182px;
	float: left;
	display: inline-block;
	height: 55px;
	cursor: pointer;
	background: url(../images/home_nav_showcase.jpg) left bottom;
	color: white;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/*************/
/*   About   */
/*************/

div#about {
	background-image: url(../images/BG_basics.png);
	width: 960px;
	height: 450px;
	float: left;
	margin-top: 205px;
	position: absolute;
}

#pane_about {
	margin-left: 25px;
	height: 318px;
	overflow: auto;
	padding-right: 30px;
	text-align: justify;
}

/****************/
/*   Services   */
/****************/

div#services {
	background-image: url(../images/BG_basics.png);
	width: 960px;
	height: 450px;
	margin-top: 205px;
	position: absolute;
	z-index: 0;
	display: inline-block;
}

#showcase_service {
	width: 900px;
	float: left;
	display: inline-block;
	position: absolute;
	height: 325px;
	margin-left: 25px;
	margin-top: 75px;
	z-index: 1;
}

div#wrapper_services {
	margin-top: 14px;
	position: absolute;
	z-index: 1;
	display: inline-block;
}

#wrapper_services ul {
	position: absolute;
	z-index: 2;
	height: 325px;
	display: inline-block;
}

#wrapper_services ul li {
	height: 300px;
	background: url(../images/BG_sidebar_img.png) no-repeat;
	width: 270px;
	padding: 5px;
	margin-right: 25px;
}

h6.service {
	position: absolute;
	z-index: 5;
	background-image: url(../images/BG_T_home_showcase.png);
	height: 61px;
	width: 250px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 60px;
	font-size: 18px;
	margin-top: 239px;
	float: left;
	display: inline-block;
}

button.prev_serv {
	width: 53px;
	height: 76px;
	background: url(../images/hor_prev.png) no-repeat;
	position: absolute;
	z-index: 6;
	margin-left: -40px;
	margin-top: 195px;
	cursor: pointer;
	display: inline-block;
}

button.next_serv {
	width: 53px;
	height: 76px;
	background: url(../images/hor_next.png) no-repeat;
	position: absolute;
	z-index: 6;
	margin-left: 943px;
	margin-top: 195px;
	cursor: pointer;
	display: inline-block;
}

*/

/***************************/
/*   Services page items   */
/***************************/

div#service_page {
	
}

div#service_page {
	background-image: url(../images/BG_basics.png);
	width: 960px;
	height: 450px;
	margin-top: 205px;
	position: absolute;
	z-index: 0;
	display: inline-block;
}

button.prev_serv_page {
	width: 53px;
	height: 76px;
	position: absolute;
	margin-left: 942px;
	margin-top: 185px;
	cursor: pointer;
	z-index: 6;
	display: inline-block;
}

button.next_serv_page {
	width: 53px;
	height: 76px;
	position: absolute;
	margin-top: 185px;
	cursor: pointer;
	z-index: 6;
	display: inline-block;
	margin-left: -37px;
}

div#service_page_wrapper {
	height: 450px;
	position: absolute;
	z-index: 1;
	display: block;
	float: left;
}

#service_page_wrapper ul {
	position: absolute;
	display: inline-block;
	z-index: 2;
	height: 450px;
}

#service_page_wrapper ul li {
	width: 960px;
	display: inline-block;
	float: left;
	height: 450px;
}

#service_page_wrapper ul li div.col_1 {
	height: 450px;
	width: 550px;
	position: absolute;
	z-index: 3;
	display: inline-block;
	float: left;
}

#service_page_wrapper ul li div.col_2 {
	height: 450px;
	width: 360px;
	display: inline-block;
	position: absolute;
	z-index: 2;
	margin-left: 575px;
}

#service_page_wrapper ul li div.col_1 img {
	margin-left: 25px;
	margin-top: 75px;
	position: absolute;
	z-index: 5;
}

#pane_serv {
	height: 360px;
	overflow: auto;
	padding-right: 25px;
	text-align: justify;
	float: left;
	display: inline-block;
	width: 315px;
	position: absolute;
	z-index: 5;
}



/************/
/*   Blog   */
/************/

div#blog {
	background-image: url(../images/BG_basics.png);
	width: 960px;
	height: 450px;
	margin-top: 205px;
	position: absolute;
	z-index: 0;
}

div#col_1_1 {
	width: 280px;
	margin-left: 25px;
	display: inline-block;
	position: absolute;
	margin-top: 75px;
	z-index: 3;
}

div#col_1_2 {
	float: left;
	width: 255px;
	height: 345px;
	overflow: auto;
	margin-left: 330px;
	margin-top: 75px;
	position: absolute;
	z-index: 3;
}

div.wrapper_archive {
	width: 298px;
	margin-top: 55px;
	height: 340px;
	position: absolute;
	margin-left: 25px;
	z-index: 3;
}

.archive_col_1 {
	width: 50px;
	float: left;
	height: 50px;
}

.archive_col_2 {
	height: 50px;
	float: left;
	width: 205px;
	padding-left: 10px;
}

li.news_archive {
	float: left;
	display: inline-block;
	width: 265px;
	height: 50px;
	background: url(../images/arrow_small.png) no-repeat right center;
	margin-bottom: 20px;
}

/******************/
/*   Blog items   */
/******************/

div#news_item {
	background-image: url(../images/BG_basics.png);
	width: 960px;
	height: 450px;
	margin-top: 205px;
	position: absolute;
	z-index: 1;
	display: inline-block;
}

div#news_item_wrapper {
	float: left;
	height: 450px;
	display: inline-block;
	position: absolute;
	z-index: 2;
}

#news_item_wrapper ul {
	display: inline-block;
	position: absolute;
	height: 450px;
	z-index: 3;
}

#news_item_wrapper ul li div.col_3 img {
	position: absolute;
	margin-top: 75px;
	margin-left: 25px;
}

button.prev_news_item {
	width: 53px;
	height: 76px;
	background: url(../images/hor_prev.png) no-repeat;
	position: absolute;
	z-index: 6;
	margin-left: -40px;
	margin-top: 185px;
	cursor: pointer;
	display: inline-block;
}

button.next_news_item {
	width: 53px;
	height: 76px;
	background: url(../images/hor_next.png) no-repeat;
	position: absolute;
	z-index: 6;
	margin-left: 943px;
	margin-top: 185px;
	cursor: pointer;
	display: inline-block;
}

/***************/
/*   Contact   */
/***************/

div#contact {
	background-image: url(../images/BG_basics.png);
	width: 960px;
	height: 450px;
	margin-top: 205px;
	position: absolute;
	display: inline-block;
	z-index: 0;
}

#col_1 form {
	padding-left: 25px;
	margin-top: 75px;
}

input.in_medium {
	border: 1px solid #656565;
	width: 375px;
	height: 30px;
	margin-bottom: 5px;
}

textarea.in_textarea {
	border: 1px solid #656565;
	width: 500px;
	height: 112px;
	margin-bottom: 5px;
}

input#submit {
	width: 150px;
	height: 30px;
	text-align: center;
	color: white;
	font: 13px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 355px;
	margin-top: 5px;
	background: url(../images/b_more.png) no-repeat;
}

/**************/
/*   Footer   */
/**************/

div#footer {
	width: 960px;
	height: 155px;
	margin: auto;
}

div#footer_col_1 {
	width: 285px;
	height: 125px;
	float: left;
	display: inline-block;
	padding-top: 30px;
}

div#footer_col_2 {
	width: 295px;
	height: 125px;
	float: left;
	display: inline-block;
	padding-top: 30px;
}

div#footer_col_3 {
	width: 370px;
	height: 125px;
	float: left;
	display: inline-block;
	padding-top: 30px;
}

input#newsletter {
	border: 1px solid #363636;
	width: 350px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
}
