body {
	/* background-color: #BE420E; */
}

/*****************/
/*   Framework   */
/*****************/

div#framework {
	/*background: #48443b url(../images/Background.jpg) repeat-x center top;*/
	/*background: #545454 url(../images/Background.png) no-repeat scroll center center;*/
	background: -webkit-gradient(
	  radial, 50% 50%, 0, 50% 50%, 800, from(white), to(#efefef)
	) #f90;
	
	background: -moz-radial-gradient(
	  50% 50%, circle, white 0px, #efefef 800px
	);
	height: 636px;
}


/************/
/*   Logo   */
/************/

div#logo {

}

/**************/
/*   Footer   */
/**************/

div#footer_wrapper {
	/*background: #000;*/
	/*background-image: url(../images/footer.jpg);*/
	
}
